* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
  background: black;
}

h1 {
  font-size: 5em;
  color: rgb(37, 37, 37);
  font-weight: 500;
  animation: fadeOut ease 4s;
  animation-fill-mode: forwards;
  animation-delay: 7s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

h1 span {
  animation: animate 1s linear infinite;
}

h1 span:nth-child(1) {
  animation-delay: 0s;
}

h1 span:nth-child(2) {
  animation-delay: 0.14s;
}

h1 span:nth-child(3) {
  animation-delay: 0.28s;
}

h1 span:nth-child(4) {
  animation-delay: 0.37s;
}

h1 span:nth-child(5) {
  animation-delay: 0.51s;
}

h1 span:nth-child(6) {
  animation-delay: 0.65s;
}

h1 span:nth-child(7) {
  animation-delay: 0.81s;
}

@keyframes animate {
  0%,80% {
      color: rgb(37, 37, 37);
      text-shadow: none;
  }
  100% {
      color: rgb(187, 31, 31);
      text-shadow: 0 0 10px rgb(187, 31, 31),
                   0 0 20px rgb(187, 31, 31),
                   0 0 40px rgb(187, 31, 31),
                   0 0 80px rgb(187, 31, 31),
                   0 0 120px rgb(187, 31, 31),
                   0 0 160px rgb(187, 31, 31),
                   0 0 200px rgb(187, 31, 31)
  }
}